*{
    font-size: .85vw;
}

/* START Page*/
.startbody{
    background-color: black;
}

.sorry-title h1{
    color:white;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0px;
    font-family: 'Libre Franklin';
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
}

.sorry-title-container{
    flex-direction: column;
    position: absolute;
    left: 40%;
    bottom: 30%;
    display: flex;
    justify-content: center;

}

.pawn-gif-container{
    transition: ease 190ms;
}


.pawn-gif-container:hover{
    outline:none;
    border-color:#9ec9ed3d;
    box-shadow:0 0 15px #ae3186c6;
    transform: scale(1.03);
    cursor: pointer;
}

.pawn-background{
    background: repeat no-repeat;
    background-size: cover;
    background-image: url(images/background_flow.gif);
    width: 21vw;
    height: 20vw;
    align-items: center;
    -webkit-box-shadow:0px 0px 91px 7px rgba(78,14,138,0.73);
    -moz-box-shadow: 0px 0px 91px 7px rgba(78,14,138,0.73);
    box-shadow: 0px 0px 91px 7px rgba(78,14,138,0.73);
}

.pawn img{
    margin-top: 5%;
    max-width: 90%;
    max-height: 100%;
    margin-left: 5%; 
}

/* Board Style*/

.bodyOne {
    align-items: center;
    background-color: rgb(73, 73, 73);
    margin: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-image: url(images/backgroundBoardOne.png);  
    position: relative;
    background-size: cover;
    height: 100vh;
}

/* .background-image {
    background-image: url(images/background_flow.gif);
    opacity: 100%;
} */

.mainOne {
    background-color: gray;
    opacity: 1;
    background-repeat: no-repeat;
    /* max-width: 1280px; */
    border-radius: 6%;
    display: flex;
    flex-wrap: wrap;
    height:55em;
    width: 60%;
    background-size: cover;
    padding: 1.5em;
    margin-left: 23rem;
    margin-right: auto;
    margin-bottom: 10vh;
    margin-top: 6px;
    padding: 0px;
    border: 0px;
    /* Border glow */
    background-color: #37303d;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
    -webkit-box-shadow:0px 0px 300px 99px rgba(32,51,176,0.64);
    -moz-box-shadow: 0px 0px 300px 99px rgba(32,51,176,0.64);
    box-shadow: 0px 0px 300px 99px rgba(32,51,176,0.64);
    margin-top: 4em;
    position: absolute;
    z-index: -2;
  


        /* Border glow 
        REd
            -webkit-box-shadow:0px 0px 300px 99px rgba(199,18,21,0.64);
-moz-box-shadow: 0px 0px 300px 99px rgba(199,18,21,0.64);
box-shadow: 0px 0px 300px 99px rgba(199,18,21,0.64);
        
Green   
            -webkit-box-shadow:0px 0px 300px 99px rgba(65,148,13,0.64);
    -moz-box-shadow: 0px 0px 300px 99px rgba(65,148,13,0.64);
    box-shadow: 0px 0px 300px 99px rgba(65,148,13,0.64);

Blue
  -webkit-box-shadow:0px 0px 300px 99px rgba(227,242,22,0.64);
-moz-box-shadow: 0px 0px 300px 99px rgba(227,242,22,0.64);
box-shadow: 0px 0px 300px 99px rgba(227,242,22,0.64);
    */

} 

.body2 {
    background-color: #737373;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    -webkit-animation: 0s ease infinite;
    -moz-animation: 0s ease infinite;
    animation: 0s ease infinite;
    font-family: 'Lexend Zetta', sans-serif;
}
.start-page-container{
    width: 33.622%;
    margin-left: auto;
    margin-right: auto;
}
.start-page-pawn-bg {
    background-image: url(images/background_flow.gif);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.space-column{
    background-color: white;
    border: .15em solid black;
    /* width: 100%;
    height: 8%; */
    width: 4.25em;
    height: 4.25em;
    margin: 0;
    /* opacity: 100%; */
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.green-walkway{

    border-color: green;
    background-color: #b1ffa1;
}
.red-walkway{

    border-color: red;
    background-color: #ff9797;
}
.blue-walkway{
    border-color: blue;
    background-color: #aaaaff;
}
.yellow-walkway{
    
    border-color: rgb(167, 167, 0);
    background-color: #fbff84;
}


.cardstack img{
    position: absolute;
    left: 51%;
    top: 48%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    width: 12em;
    height: 20em;
    border-radius: 1em;
}

.card {  
    position: absolute;
    width: 10vw;
    height: 30vh;
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    background-color: grey;
    left: 45%;
}
  .card-cardValue-orCard {
    display: inline-block;
    position: absolute;
  }
  .card-cardValue-orCard.top {
    top: 5px;
    left: 5px;
  }
  .card-cardValue-orCard.bot {
    transform: rotate(180deg);
    bottom: 5px;
    right: 5px;
  }
  .card-orCard {
    font-size: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
  }
  .card.move-starting-piece,
.card.move-back-once {
  color: rgb(255, 255, 255);
}
.card.split-forward-between-2-pawns,
.card.move-back-3-times {
  color: rgb(255, 255, 255);
}

.blueCard{
    margin-top: 2vh;
    margin-right: .5vh;
    height: 7.5%;
    width: 20vw;
    background-color: #508BFF;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    border-radius: 1vh;
}

.bluepawn{
    background-color: white;
}

.bluePawn img{
    border-radius: 50%;
    background-color: white;
    justify-self: center;
    max-height: 7.5vh;
}

.redCard{
    margin-top: 2vh;
    margin-right: .5vh;
    height: 7.5%;
    width: 20vw;
    background-color: #CA2E2E;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    border-radius: 1vh;
}

.redpawn{
    background-color: white;
}

.redPawn img{
    border-radius: 50%;
    background-color: white;
    justify-self: center;
    max-height: 7.5vh;
}


.greenCard{
    margin-top: 2vh;
    margin-right: .5vh;
    height: 7.5%;
    width: 20vw;
    background-color: #B8FF71;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    border-radius: 1vh;
}

.greenpawn{
    background-color: white;
}

.greenPawn img{
    border-radius: 50%;
    background-color: white;
    justify-self: center;
    max-height: 7.5vh;
}

.yellowCard{
    margin-top: 2vh;
    margin-right: .5vh;
    height: 7.5%;
    width: 20vw;
    background-color: #C1B651;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    border-radius: 1vh;
}

.yellowpawn{
    background-color: white;
}

.yellowPawn img{
    border-radius: 50%;
    background-color: white;
    justify-self: center;
    max-height: 7.5vh;
}


.prevpage img{
    width: 10vh;
    height: 10vh;
    margin: 0px,0px,0px,0px;
    padding: 0px,0px,0px,0px;
    border: 0px,0px,0px,0px,;
    position: absolute;
    left: 10px;
    top: 50%;
    transition: 90ms ease-in;
    
}

.prevpage img:hover {
    transform: scale(1.3);
}

.spaces-column{
    height: 100%;
    width: 6.384%;
    margin: 0;
}

.spaces-column{
    
    height: 100%;
}


 .empty{
visibility: hidden;
 }

 .grid-right{
    margin-right: auto;
 }
 .grid-left{
    margin-left: auto;
 }
 .event{
    background-color: gold;
    display: flex;
    justify-content: center;
    -webkit-box-shadow:0px 0px 101px 40px rgba(206,217,46,0.36);
-moz-box-shadow: 0px 0px 101px 40px rgba(206,217,46,0.36);
box-shadow: 0px 0px 101px 40px rgba(206,217,46,0.36);
 }
 .event p{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-top: auto ;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    height: 100%;
    margin: 0;
    padding-top: .3em;
    text-align: center;
		color: rgba(255, 255, 255, 0.1);
		background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 2s;
		-moz-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: #222;
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}
    

 
.circle-top-left{
    border-top-left-radius: 4em;
}
.circle-top-right{
    border-top-right-radius: 4em;
}
.circle-bottom-left{
    border-bottom-left-radius: 4em;
}
.circle-bottom-right{
    border-bottom-right-radius: 4em;
}

.shop-space{
    background-color: #37303d;
    border-color: #37303d;
}
 .shop-space img{
    width:100%;
    height: 100%;
 }

 .cardstack img {
    cursor: pointer;
    transition: 100ms;
 }

 .takecard{
    visibility: hidden;
    transition: .5s ease;
 }


 .takecard.active {
    visibility: visible;
    margin-right: 5em;
 }

 
 .takecard.active img {
  width: 100%;
 }
 .one-third.glow {
    border-color: #9ecaed;
    box-shadow: 0 0 15px #ffffff;
 }

/* This Is for the lobby coding below */
.main2 {
    max-width: 1720px;
    justify-content: center;
    margin: 0 auto;
}
.Lobby {
    max-width: 100%;
    margin: 0 auto;
    transition: 100ms ease;
}

.lob-maps {
    display: flex;
    justify-content: space-evenly;
}

.one-third {
    margin-top: 4.8em;
    margin-bottom: 4.5em;
    width: 30.3%;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    transition: 190ms ease;
}

.one-third.active {
    width: 1%;
}

.one-third:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.one-third:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #ffffff;
}

.one-third img {
    width: 100%;
    height: 100%;
    position: relative;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0 auto;
    display: flex;
    width: 89%;
  }

.map-text-container h2{
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    font-size: 1.5em;
}

.map-text-container i{
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    font-size: 1.5em;
}

.centered i{
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.centered h2 {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.choosing {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    width: 71%;
    margin: 0 auto;
}

.one-forth {
    position: relative;
    display: flex;
    transition: 190ms ease-out;
    margin: 0 auto;
    max-width: 100%;
    justify-content: space-between;
}

.one-forth:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.one-forth:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #ffffff;
}

#pawn1:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #fff200; 
}

#GFG_DOWN:hover {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #051395ac;
}

#pawn3:hover {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #a50b0b;
}

#GFG_UP:hover {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #286d1a;
}


.one-forth img {
    width: 100%;
}


#player-container {
    display: flex;
    margin: 0 auto;
    width: 20%;
    padding: .5em;
    color: black;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #D9D9D9;
    margin-top: 2em;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4em;
  }

  .btn-cont {
    display: flex;
    justify-content: center;
  }


  .start {
    margin-top: 3em;
    position: absolute;
    transition: 0.5s;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .start:hover {
    animation: animate 8s linear infinite;
      transition: 0.5s;
      cursor: pointer;
  }
  
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  
  .start:before {
      animate: 0.5s;
      transition: 0.5s;
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
    
  }
  
  .start:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
      animate: 0.5s;
      transition: 0.5s;
  }

/* Javascript variable styling for lobby*/

.java-one-third{
    border-color:#9ecaed;
    box-shadow:0 0 15px #ffffff;
}



/* End to the lobby code above */
@media (max-width: 800px) {

   }  
   @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');


     
/* .start-page-pawn-bg img{
    width: 10px;
} */

