*{
    font-size: .85vw;
}

/* START Page*/

.startbody{
    background-color: rgb(73, 73, 73);
}

.speaker{
    max-width: 100px;
}

.apologizetext{
    font-size: 10rem;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

.start-page-pawn-bg{
    display: flex;
    justify-content: center;
}

.startpawn{
    justify-content: center;
}

.mutebutton{
    background-color: rgb(73, 73, 73);
    border: none;
}

.mutebutton:hover{
    background-color: red;
    border: none;
}

/* START Page*/


/* Board Style*/

.bodyOne {
    background-color: rgb(73, 73, 73);
    margin: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-image: url(images/backgroundBoardOne.png);  
    position: relative;
    background-size: cover;
    height: 100vh;
}

/* .background-image {
    background-image: url(images/background_flow.gif);
    opacity: 100%;
} */

.mainOne {
    background-color: gray;
    opacity: 1;
    background-repeat: no-repeat;
    /* max-width: 1280px; */
    border-radius: 6%;
    display: flex;
    flex-wrap: wrap;
    height:55em;
    width: 60%;
    background-size: cover;
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
    /* Border glow */
    background-color: #37303d;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
    -webkit-box-shadow:0px 0px 300px 99px rgba(32,51,176,0.64);
    -moz-box-shadow: 0px 0px 300px 99px rgba(32,51,176,0.64);
    box-shadow: 0px 0px 300px 99px rgba(32,51,176,0.64);
    margin-top: 4em;

  


        /* Border glow 
        REd
            -webkit-box-shadow:0px 0px 300px 99px rgba(199,18,21,0.64);
-moz-box-shadow: 0px 0px 300px 99px rgba(199,18,21,0.64);
box-shadow: 0px 0px 300px 99px rgba(199,18,21,0.64);
        
Green   
            -webkit-box-shadow:0px 0px 300px 99px rgba(65,148,13,0.64);
    -moz-box-shadow: 0px 0px 300px 99px rgba(65,148,13,0.64);
    box-shadow: 0px 0px 300px 99px rgba(65,148,13,0.64);

Blue
  -webkit-box-shadow:0px 0px 300px 99px rgba(227,242,22,0.64);
-moz-box-shadow: 0px 0px 300px 99px rgba(227,242,22,0.64);
box-shadow: 0px 0px 300px 99px rgba(227,242,22,0.64);
    */

} 

.body2 {
    background-color: #737373;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    -webkit-animation: 0s ease infinite;
    -moz-animation: 0s ease infinite;
    animation: 0s ease infinite;
    font-family: 'Lexend Zetta', sans-serif;
}
.start-page-container{
    width: 33.622%;
    margin-left: auto;
    margin-right: auto;
}
.start-page-pawn-bg {
    background-image: url(images/background_flow.gif);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.space-column{
    background-color: white;
    border: .15em solid black;
    /* width: 100%;
    height: 8%; */
    width: 4.25em;
    height: 4.25em;
    margin: 0;
    /* opacity: 100%; */
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.green-walkway{

    border-color: green;
    background-color: #b1ffa1;
}
.red-walkway{

    border-color: red;
    background-color: #ff9797;
}
.blue-walkway{
    border-color: blue;
    background-color: #aaaaff;
}
.yellow-walkway{
    
    border-color: rgb(167, 167, 0);
    background-color: #fbff84;
}


.spaces-column{
    height: 100%;
    width: 6.384%;
    margin: 0;
}

.spaces-column{
    
    height: 100%;
}


 .empty{
visibility: hidden;
 }

 .grid-right{
    margin-right: auto;
 }
 .grid-left{
    margin-left: auto;
 }
 .event{
    background-color:gold;
    display: flex;
    justify-content: center;
 }
 .event p{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-top: auto ;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    height: 100%;
    margin: 0;
    padding-top: .3em;
    
    
 }
 
.circle-top-left{
    border-top-left-radius: 4em;
}
.circle-top-right{
    border-top-right-radius: 4em;
}
.circle-bottom-left{
    border-bottom-left-radius: 4em;
}
.circle-bottom-right{
    border-bottom-right-radius: 4em;
}

.shop-space{
    background-color: #37303d;
    border-color: #37303d;
}
 .shop-space img{
    width:100%;
    height: 100%;
 }
/* This Is for the lobby coding below */


.main2 {
    max-width: 1720px;
    justify-content: center;
    margin: 0 auto;
}
.Lobby {
    max-width: 100%;
    margin: 0 auto;
    transition: 100ms ease;
}

.lob-maps {
    display: flex;
    justify-content: space-evenly;
}

.one-third {
    margin-top: 4.8em;
    margin-bottom: 4.5em;
    width: 30.3%;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    transition: 190ms ease;
}

.one-third:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.one-third:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #ffffff;
}

.one-third img {
    width: 100%;
    height: 100%;
    position: relative;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0 auto;
    display: flex;
    width: 89%;
  }

.map-text-container h2{
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    font-size: 1.5em;
}

.map-text-container i{
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    font-size: 1.5em;
}

.centered i{
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.centered h2 {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.choosing {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    width: 71%;
    margin: 0 auto;
}

.one-forth {
    position: relative;
    display: flex;
    transition: 190ms ease-out;
    margin: 0 auto;
    max-width: 100%;
    justify-content: space-between;
}

.one-forth:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.one-forth:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #ffffff;
}

#pawn1:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #fff200; 
}

#GFG_DOWN:hover {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #051395ac;
}

#pawn3:hover {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #a50b0b;
}

#GFG_UP:hover {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #286d1a;
}


.one-forth img {
    width: 100%;
}


#player-container {
    display: flex;
    margin: 0 auto;
    width: 20%;
    padding: .5em;
    color: black;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #D9D9D9;
    margin-top: 2em;
    font-family: 'Source Code Pro', monospace;
  }

/* End to the lobby code above */

@media (max-width: 800px) {

   }  


     
/* .start-page-pawn-bg img{
    width: 10px;
} */